#WIKI_SHA=@sha256:aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
#TAILSCALE_SHA=@sha256:aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
WIKI_TAG=:latest
TAILSCALE_TAG=:stable
TAILSCALE_HOSTNAME=docker-compose-example
TAILSCALE_AUTHKEY=tskey-auth-aaaaaaaaaaaaaaaaa-aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
