#TAILSCALE_SHA=@sha256:aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
TAILSCALE_TAG=:stable
TAILSCALE_HOSTNAME=my-tailscale
TAILSCALE_AUTHKEY=tskey-auth-aaaaaaaaaaaaaaaaa-aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
