# Per-deployment configuration and secrets.

# Tailscale image version to deploy - tag or SHA256 for pinning.

TAILSCALE_TAG=:stable
#TAILSCALE_SHA=@sha256:aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

# Optional authkey for initial tailscale login - if not specified, manually
# invoke 'docker compose exec tailscale tailscale login' and follow the URL.

#TAILSCALE_AUTHKEY=tskey-auth-aaaaaaaaaaaaaaaaa-aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

# Optional name for the node on the tailnet - defaults to <project name>-tailscale.

#TAILSCALE_NODE=my-tailscale
